<div class="container mt-5 dialog-container">
  <h2 class="text-uppercase text-center fw-bold mt-5 pt-2">{{ data.title }}</h2>
  <h5 class="text-center fw-bold fst-italic">
    Ngày {{ data.invAudit.auditDate }} bởi {{ data.invAudit.audittedBy }}
  </h5>
  <p class="text-center fw-bold">Diễn giải: {{ data.invAudit.auditNotes }}</p>
  <div class="pt-2">
    <form [formGroup]="conductInventoryAuditForm" (ngSubmit)="submitForm()">
      <div class="row my-3">
        <div class="col-6 text-start">
          <h2>Danh sách kiểm kê: </h2>
        </div>
      </div>
      <div class="table-container">
        <table class="table table-bordered">
          <thead>
            <tr class="text-uppercase bg-warning text-dark">
              <th scope="col" *ngFor="let colHeader of headerColumns">{{ colHeader }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container formArrayName="items" *ngFor="let item of items.controls; let i = index">
              <tr [formGroupName]="i">
                <td>
                  <input type="text" class="form-control" formControlName="bookTitle" [disabled]="true" >
                </td>
                <td>
                  <input type="text"  class="form-control" formControlName="isbn"  [disabled]="true" >
                </td>
                <td>
                  <input type="text" class="form-control"  formControlName="storeName" [disabled]="true" >
                </td>
                <td>
                  <input type="number" class="form-control disabled-arrow" formControlName="inventoryQuantity" [disabled]="true" >
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="defaultSystemMeasureUnit" [disabled]="true" >
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="actualQuantity"
                    [ngClass]="item.get('actualQuantity')?.touched ? item.get('actualQuantity')?.invalid ? 'is-invalid' : 'is-valid' : null"
                  >
                  <div class="text-danger mt-1" *ngIf="item.get('actualQuantity')?.touched">
                    <span *ngIf="item.get('actualQuantity')?.errors?.['required']">
                      * Vui lòng nhập Số lượng thực tế
                    </span>
                    <span *ngIf="item.get('actualQuantity')?.errors?.['min']">
                      * Số lượng thực tế phải lớn hơn hoặc bằng 0
                    </span>
                  </div>
                </td>
                <td>
                  <select
                    formControlName="unitOfMeasureId"
                    class="form-control"
                    [ngClass]="item.get('unitOfMeasureId')?.touched ? item.get('unitOfMeasureId')?.invalid ? 'is-invalid' : 'is-valid' : null"
                  >
                    <option value="">*Chọn</option>
                    <option *ngFor="let unit of measureUnitList" [value]="unit.id">{{ unit.name }}</option>
                  </select>
                  <div class="text-danger mt-1" *ngIf="item.get('unitOfMeasureId')?.touched">
                    <span *ngIf="item.get('unitOfMeasureId')?.errors?.['required']">
                      * Vui lòng chọn đơn vị
                    </span>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container>
              <tr>
                <td colspan="7">
                  <div class="form-check">
                    <input type="checkbox" id="completed" formControlName="isCompleted" class="form-check-input" >
                    <label for="completed" class="form-check-label">Hoàn tất kiểm kê</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <div class="row">
                    <div class="col-12 text-end">
                      <button class="me-1 btn btn-outline-danger py-1 px-3" mat-dialog-close="">Hủy</button>
                      <button class="btn btn-primary py-1 px-3" [disabled]="conductInventoryAuditForm.invalid" type="submit">Lưu</button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
