<div class="d-flex justify-content-center" style="margin-top: 110px;">
    <div class="col-4">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Đăng nhập tài khoản Libri</h1>
        </div>

        <app-input-text
          [formControl]="loginForm.controls['email']"
          [label]="'Email'"
          type="email">
        </app-input-text>

        <div class="position-relative">

          <app-input-text
          [formControl]="loginForm.controls['password']"
          [label]="'Mật khẩu'"
          [type]="passwordVisible ? 'text' : 'password'"
          >
          </app-input-text>

          <span class="position-absolute top-50 end-0 translate-middle-y me-5" (click)="togglePasswordVisibility()">
            <i class="fa" [ngClass]="{'fa-eye-slash': !passwordVisible, 'fa-eye': passwordVisible}"></i>
          </span>
        </div>

       <div class="d-grid">
          <button [disabled]="loginForm.invalid" class="btn btn-lg mt-3" type="submit" style="color: black;background-color: orange;">Đăng nhập</button>
          <p class="ms-5 small fw-bold mt-2 pt-1 mb-0">
            <span>Bạn chưa có tài khoản Libri?</span>
            <a routerLink="/register" class="link-danger ms-2" style="font-style: italic;">Đăng ký</a>
          </p>
        </div>
      </form>
    </div>
  </div>
