<div class="row mb-5" *ngIf="data.book">
  <div class="col-6">
      <img src="{{ data.book.imageUrl }}" alt="{{ data.book.title }}" class="w-100">
  </div>
  <div class="col-6 mt-5">
      <h2 class="fw-bold text-start">{{ data.book.title }}</h2>
      <p class="my-4 text-muted" style="font-size: 2em">{{ data.book.price | customCurrency: 'VND' }}</p>
      <div *ngIf="data.book.quantityInStock > 0 || data.book.isAvailable" class="d-flex my-3">
          <p>Tình trạng:<span class="ms-2 text-success" style="font-weight: bold;">Trên kệ</span></p>
          <p class="ms-5">Số lượng:<span class="ms-1 text-secondary" style="font-weight: bold;">{{ data.book.quantityInStock }}</span> sách trong kho</p>
      </div>
      <div class="row mt-4 me-4">
        <div class="col-12 d-grid grid-template">
          <div class="grid-item">Tạo bởi <strong>{{ data.book.createInfo }}</strong></div>
          <div class="grid-item">Cập nhật bởi <strong>{{ data.book.updateInfo }}</strong></div>
        </div>
        <div class="mt-2 description">
          <strong class="text-danger fst-italic">* Mô tả: </strong>
          <p>{{ data.book.description }}</p>
        </div>
      </div>
  </div>
</div>
