<form (submit)="applyFilters()">
  <h3 class="text-3xl text-center pt-5 mb-3">Lọc dữ liệu</h3>
  <mat-divider></mat-divider>
  <div class="d-flex p-4">
    <div class="row" style="max-height: 500px;">
      <div class="col-6">
        <h4 class="font-semibold text-xl text-primary">Thể loại: </h4>
        <mat-radio-group [(ngModel)]="selectedGenreId" [ngModelOptions]="{ standalone: true }" class="radio-container">
          <mat-radio-button
            class="me-2 radio-button"
            *ngFor="let genre of genresList"
            [value]="genre.id"
          >
            {{genre.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-6">
        <h4 class="font-semibold text-xl text-primary">Nhà xuất bản: </h4>
        <mat-radio-group [(ngModel)]="selectedPublisherId" [ngModelOptions]="{ standalone: true }" class="radio-container">
          <mat-radio-button
            class="me-2 radio-button"
            *ngFor="let publisher of publisherList"
            [value]="publisher.id"
          >
            {{publisher.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-divider></mat-divider>
      <div class="col-12 mt-2">
        <h4 class="font-semibold text-xl text-primary">Tác giả: </h4>
        <mat-form-field appearance="fill">
          <mat-label>Tìm kiếm tác giả</mat-label>
          <input type="text" matInput [formControl]="authorControl" [matAutocomplete]="autoAuthor">
          <mat-autocomplete #autoAuthor="matAutocomplete" [displayWith]="displayAuthorName">
            <mat-option
              *ngFor="let author of filteredAuthors | async"
              [value]="author"
              (onSelectionChange)="onAuthorSelected($event, author)"
            >
              {{ author.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="p-4 d-flex justify-content-center">
    <button mat-button color="warn" mat-dialog-close="">Đóng</button>
    <button mat-raised-button color="primary" class="ms-2" type="submit">Áp dụng bộ lọc</button>
  </div>
</form>
